body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background:rgba(1, 249, 1, 0.057);
    background-size: cover;
}

img {
    width: 100px;
    text-align: center;
    border: solid 2px white;
    border-radius: 50%;
}

.hero {
    background-image: url("https://assets.plaece.nl/thumb/602iZqXai_eh3V0JR_CsWf_EHd0KR9wMLrzkNx2LuY8/resizing_type:fit/width:960/height:0/gravity:sm/enlarge:0/aHR0cHM6Ly9hc3NldHMucGxhZWNlLm5sL29kcC1oZ2gvaW1hZ2Uvdmlua2V2ZWVuLWhhdmVuLXZhbi1ib3Zlbl8zNzkwMzA5MzM5LmpwZw.jpg");
    background-size: cover;
    color: white;
    padding: 20px ;
    text-shadow: 0 0 10px black;
    margin: 0;
}

.desc {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(221, 252, 214);
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: #00ff2648;
    color: #2b2839;
    border-bottom: 6px solid #00ff55;
}

#title {
    background-color: #00ff2648;
    padding: 20px;
}

#title:hover {
    font-size: large;
}

.card:hover {
    font-size: large;
}

.desc:hover {
    font-size: large;
}

.popcat {
    padding: 20px;
    border: solid 2px white;

}

.fee {
    padding: 20px;
    border: solid 2px white;

}

#man {
    margin: 0 auto;
    width: 200px;
}

.tree {
    padding: 20px;
    border: solid 2px white;
}

