@font-face {
    src: url("Recharge\ Bd.otf");
    font-family: Transformers;
}

body {
    color: #82a5ca;
    text-align: center;
    margin: 0;
}

.btn {
    border: none;
    border-radius: 2px;
    padding: 6px 12px;
    background-color: rgb(249, 251, 253);
    font-family: 'Transformers';
    color: #82a5ca;

}

body {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.underline {
    border-bottom: 4px solid white;
}

#main-logo {
    width: 100px;
}

#hero {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdzVmNWdncmIxcmUwYmxkc2ZqenhscGE2NnU5NGV0bTRhNmx3cTFpeiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iicDrNGWxHmDrIni6j/giphy.gif");
    background-size: cover;
    padding: 10px 0 400px 0;
    text-shadow: 0px 0px 4px black;
}